.field{
    fill: #fffffb;
    stroke: black;
}
.field:hover{
    fill: #daefff;
}

.field:active{
    fill: #fff663;
}
.ships{
    fill: #1c4f8c;
}

.cont{
    fill: aliceblue;
    stroke: black;
}

.text{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}